*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: url("../img/catalog.png") center no-repeat;
    background-size: 100% auto;
    width: 100%;
    min-height: 2100px;
    color: #BC1E21;
}

.name {
    color: #BC1E21;
}

.header-block {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    padding: 30px;
}

.header-navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;

}

.header-navbar-link {
    font-size: 24px;
    color: #BC1E21;
    font-weight: lighter;
}

.icons {
    display: flex;
    gap: 20px;
}

.catalog {
    display: flex;
    gap: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 100px 150px;
}

.macaron,
.cupcake,
.mini_cake,
.cake,
.donut,
.cakes,
.cakes_text {
    background-color: #B8B3C8;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}


.catalog_title {
    width: 500px;
    padding: 40px 20px;
    color: #1E1E1E;
    font-size: 24px;
    min-height: 300px;
}

.catalog_link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 20px 30px;
    padding: 15px 30px;
    background-color: #A199B7;
    gap: 20px;
    color: #ffffff;
    font-size: 24px;
    border-radius: 20px;
}

.img_catalog {
    width: 500px;
    height: 330px;
}

footer {
    color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    margin-bottom: 90px;
    margin-right: 50px;
}

footer>div {
    display: flex;
    align-items: center;
    font-size: 20px;
}

footer>p {
    font-size: 36px;
    width: 50%;
}