*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-weight: 400;

}

.header-block {
    background:
        linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
        url("../img/header.jpg") center no-repeat;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-navbar {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 25px;
    list-style-type: none;

    width: 100%;
    padding: 15px 20px;

    background-color: rgba(255, 255, 255, .5);
}

.header-navbar-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;

    color: black;
}

.header-navbar-link:hover {
    color: #4d4c4c;
}

.header-title {
    text-align: center;
    color: #f6d09e;
}
